h1 {
   color      :red;
   font-size  :3em;
   font-family:Arial;
}
h2 {
   color      :blue;
   font-size  :5em;
   font-family:Arial;
}
h3 {
   color      :yellow;
   font-size  :2em;
   font-family:Arial;
}
div {
  background-color: lightblue;
  width: 200px;
  padding: 25px;
  border: 25px solid navy;
  
  position: fixed;
  bottom: 0;
  right: 0;
}
